@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 8% 96%;
    --foreground: 0 0% 7%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 66 99% 58%;
    --primary-foreground: 0 0% 7%;
    --secondary: 60 8% 92%;
    --secondary-foreground: 0 0% 7%;
    --muted: 60 8% 92%;
    --muted-foreground: 0 0% 37%;
    --accent: 17 75% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 11% 88%;
    --input: 60 11% 88%;
    --ring: 66 99% 58%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 7%;
    --foreground: 60 8% 96%;
    --card: 0 0% 10%;
    --card-foreground: 60 8% 96%;
    --popover: 0 0% 10%;
    --popover-foreground: 60 8% 96%;
    --primary: 66 99% 58%;
    --primary-foreground: 0 0% 7%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 60 8% 96%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 54%;
    --accent: 17 75% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 66 99% 58%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
